# Assignment-1

## Q1. Create one variable containing following type of data:
(i) string

In [1]:
val1='Rishabh'
type(val1)

str

(ii) list

In [2]:
val2=[1,2.0,'three',True,1+2j]
type(val2)

list

(iii) float

In [4]:
val3=1.02
type(val3)

float

(iv) tuple

In [5]:
val4=(1,2,3,4.5)
type(val4)

tuple

## Q2. Given are some following variables containing data:

In [6]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

What will be the data type of the above given variable.

In [9]:
type(var1)

str

In [10]:
type(var2)

str

In [11]:
type(var3)

list

In [12]:
type(var4)

int

# Explain the use of the following operators using an example:
(i) /
    Division Operator.
    An arithematic operator used to perform division of two numbers. 
    Eg:

In [1]:
2/4

0.5

(ii) %
    Modulus Operator.
    An arithematic operator used to calculate reminder that comes in division of two numbers.
    Eg:

In [2]:
2%5

2

(iii) //
    Interger Division.
    This arithematic operator returns the floor value after dividing two numbers.
    Eg:

In [3]:
2//4

0

(iv) **
    Exponential Operator.
    This operator raises a number exponentially.
    Eg:

In [4]:
2**4

16

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [5]:
l=[1,2,'Rishabh','Chandra',5.5,6.7,True,False,9j,10+10j]
for i in l:
    print(f'Element:{i}, Type:{type(i)}')

Element:1, Type:<class 'int'>
Element:2, Type:<class 'int'>
Element:Rishabh, Type:<class 'str'>
Element:Chandra, Type:<class 'str'>
Element:5.5, Type:<class 'float'>
Element:6.7, Type:<class 'float'>
Element:True, Type:<class 'bool'>
Element:False, Type:<class 'bool'>
Element:9j, Type:<class 'complex'>
Element:(10+10j), Type:<class 'complex'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [7]:
A=int(input())
if(A%8==0):
    x=A
    counter=0
    while(A%8==0):
        counter+=1
        A/=8
    print(f'{x} is {counter} times divisible by 8.')
else:
    print(f'{A} is not divisible by 8.')

 64

64 is 2 times divisible by 8.

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [8]:
l=[int(x) for x in range(1,26)]
for i in l:
    if i%3==0:
        print(f'{i} is divisible by 3.')
    else:
        print(f'{i} is not divisible by 3.')

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
Mutable Data Types: Iterables where values can be updated using indices. 
Eg: Lists.

In [9]:
print(l[4])
l[4]=100
print(l[4])

5
100

Immutable Data Types: Iterables where values cannot be updated using indices. Instead, the variable is allocated new value instead of updation.
Eg: Strings and Tuples.

In [ ]:
s='Rishabh'
s[4]=a'a